In [ ]:
# Written by BEDEZUB-13:12

# Import modules
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib as plt

In [3]:
# Load data in csv from dataset folder
churn_master_df = pd.read_csv('/Users/zubquzaini/Documents/data_analysis/data-analysis-statistical-thinking/dataset/original/customer_data.csv')

In [5]:
# Copy raw data to new variable for pre-processing
churn_df = churn_master_df.copy()

In [7]:
# Display first five of data
churn_df.head()

,customerID,gender,SeniorCitizen,tenure,ServiceCount,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,2,Month-to-month,Yes,29.85,29.85,No
1,5575-GNVDE,Male,0,34,4,One year,No,56.95,1889.50,No
2,3668-QPYBK,Male,0,2,4,Month-to-month,Yes,53.85,108.15,Yes
3,7795-CFOCW,Male,0,45,4,One year,No,42.30,1840.75,No
4,9237-HQITU,Female,0,2,2,Month-to-month,Yes,70.70,151.65,Yes